.section{width: 100%; padding: 100px 0; box-sizing: border-box;}
.container{max-width: 1680px; margin: 0 auto; display: flex; flex-direction: column; align-items: center;}

.sub_title{font-size: 14px;}
.sub_title strong{font-weight: 700; letter-spacing: 0.1em; margin-right: 10px;}
.sub_title em{font-weight: 400; letter-spacing: 0.2em;}

.title{margin: 20px 0 50px;}
.title h2{font-size: 36px;font-weight: 500; letter-spacing: 0.02em;}

.menu{}
.menu ul{display: flex;}
.menu ul li{margin: 0 15px; padding: 5px 0; box-sizing: border-box; cursor: pointer; position: relative;}
.menu ul li em{ font-size: 14px;font-weight: 500;}

.menu ul li.active::before{content: '';width: 100%;height: 2px;background: #000; position: absolute; bottom: 0; left: 0;}

.heart{display: flex; justify-content: space-between;}
.heart em{display: block; width: 45px;height: 20px; line-height: 20px; text-align: center; box-sizing: border-box; font-size: 12px; font-weight: 500;color: #ccc; background: #000;} 
.heart .icon{font-size: 20px; cursor: pointer;}
.heart .icon.active{color: red;}

.item_list{margin-top: 50px;}
.item_list ul{display: grid; grid-template-columns: repeat(4,250px); grid-gap:30px ;}
.item_list ul li{width: 250px;height: 420px; }

.item{cursor: pointer;}
.item .img{width: 100%; height: 300px;background: #999; margin: 20px 0 15px; transition: all 0.2s;}
.item:hover .img{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.item .img img{width: 100%;height: 100%;object-fit: cover;}

.item .text{}
.item .text em{font-size: 12px;font-weight: 500; color: #aaa;}
.item .text h4{font-size: 16px;font-weight: 500; margin: 5px 0;}
.item .text strong{font-size: 18px;font-weight: 500;}

.btn1{width: 185px; margin-top: 65px;}


@media (max-width:1220px){
    .item_list ul{grid-template-columns: repeat(3,250px);}
}

@media (max-width:1023px) {
    .section{padding: 50px 0;}
}

@media (max-width:860px){
    .item_list ul{grid-template-columns: repeat(2,250px);}
}

@media (max-width:600px){
    .item_list ul{grid-template-columns: repeat(2,41.6667vw);}
    .item_list ul li{width: 100%; height: 73.0000vw;}
    .item .img{ height: 50.0000vw; margin: 3.3333vw 0 4.1667vw;}
}

@media (max-width:420px){
    .menu ul li{margin: 0 3.5714vw; padding: 5px 0;}
    .menu ul li em{ font-size: 3.3333vw;}
}

@media (max-width:380px){
    .item_list ul{grid-template-columns: repeat(1,250px);}
    .item_list ul li{width: 250px;height: 415px; }
    .item .img{ height: 300px;margin: 20px 0 25px;}
}