.container{ padding: 100px 0; box-sizing: border-box; }
.text_container{width: 100%; display: flex; flex-direction: column; align-items: center; }
.sub_title{font-size: 14px;letter-spacing: 0.2em;}
.sub_title strong{font-weight: 700; margin-right: 10px; }
.sub_title em{font-weight: 500; }

.title{text-align: center;}
.title h2{font-size: 36px;font-weight: 700; letter-spacing: 0.02em; margin: 15px 0 25px;}
.title p{max-width: 510px; font-size: 16px;font-weight: 400; line-height: 30px; padding: 0 10px; box-sizing: border-box;}

.slider_container{max-width: 1140px; margin: 0 auto; }
.slider_wrap{width: 100%;height: 100%; padding: 0 40px; box-sizing: border-box; margin-top: 75px;}

.slide{width: 250px;height: 500px; }

.heart{display: flex; justify-content: space-between;}
.heart ul{}
.heart ul li:nth-child(2){display: none;}
.heart em{display: block; width: 45px;height: 20px; line-height: 20px; text-align: center; box-sizing: border-box; font-size: 12px; font-weight: 500;color: #ccc; background: #000;} 
.heart .icon{font-size: 20px; cursor: pointer;}
.heart .icon.active{color: red;}

.item{cursor: pointer;}
.item .img{width: 100%; height: 300px;background: #999; margin: 20px 0 15px; transition: all 0.2s;}
.item:hover .img{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.item .img img{width: 100%;height: 100%;object-fit: cover;}

.item .text{}
.item .text em{font-size: 12px;font-weight: 500; color: #aaa;}
.item .text h4{font-size: 16px;font-weight: 500; margin: 5px 0;}
.item .text strong{font-size: 18px;font-weight: 500;}

@media (max-width:1023px) {
    .container{padding: 50px 0;}
}

