.section{max-width: 1440px; margin: 0 auto; padding: 50px 20px; box-sizing: border-box; }

.top_menu{display: flex; justify-content: space-between;}
.top_menu .item_count{font-size: 14px;}
.top_menu .item_count strong{margin-right: 5px;}
.top_menu .item_count em{}

.top_menu .item_filter{font-size: 14px; position: relative;}
.top_menu .item_filter p{}
.top_menu .item_filter p strong{margin-left: 5px; cursor: pointer;}
.top_menu .item_filter p strong .icon{}
.top_menu .item_filter ul{width: 100%;background: #fff; position: absolute; top: 100%;left: 0;}
.top_menu .item_filter ul li{padding: 5px; box-sizing: border-box;text-align: center; border-bottom: 1px solid #ccc; cursor: pointer;}

.item_wrap{margin-top: 50px;}
.item_wrap > ul{ display: grid; grid-template-columns: repeat(4,minmax(250px,350px)); grid-gap: 20px; }
.item_wrap > ul > li{width: 100%;height: 480px;}

.heart{display: flex; justify-content: space-between;}
.heart ul{}
.heart ul li:nth-child(2){display: none;}
.heart em{display: block; width: 45px;height: 20px; line-height: 20px; text-align: center; box-sizing: border-box; font-size: 12px; font-weight: 500;color: #ccc; background: #000;} 
.heart .icon{font-size: 20px; cursor: pointer;}
.heart .icon.active {color: red;}

.item{cursor: pointer;}
.item .img{width: 100%; height: 350px;background: #999; margin: 20px 0 15px; transition: all 0.2s;}
.item:hover .img{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.item .img img{width: 100%;height: 100%;object-fit: cover;}

.item .text{}
.item .text em{font-size: 12px;font-weight: 500; color: #aaa;}
.item .text h4{font-size: 16px;font-weight: 500; margin: 5px 0;}
.item .text strong{font-size: 18px;font-weight: 500;}

.more{width: 100%;display: flex; justify-content: center;  margin: 100px 0 50px;}
.more .btn1{}

.loading{width: 100%;display: flex; justify-content: center;}

@media (max-width:1100px){
    .item_wrap ul{grid-template-columns: repeat(3,minmax(250px,350px)); }
}

@media (max-width:830px){
    .item_wrap ul{grid-template-columns: repeat(2,minmax(250px,350px)); }
}

@media (max-width:560px){
    .item_wrap ul{grid-template-columns: repeat(1,minmax(250px,auto)); }
}
