body{font-family: 'Raleway', sans-serif; padding-top: 60px;}
/* font-family: 'Noto Sans KR', sans-serif; */

.btn1{width: 140px;height: 50px;background: #000;color: #fff;font-size: 14px;font-weight: 400;cursor: pointer;position: relative;}
.btn1::before {content: '';width: 2px;height: 100%;background: #000;position: absolute;top: 0;right: -4px;}
